.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.about-title h1 {
  font-size: 55px;
  margin-top: 40px;
  color: #fff;
  margin-bottom: 30px;
  /*  BG From Evangadi */
  background: linear-gradient(267deg, #8b3a18 1.06%, #4f1c02 60.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Yeseva One", serif;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 80%;
  margin: auto;
  border: 1px solid #8b3a18;
  border-radius: 20px;
  padding: 20px;
}
.about-img img {
  width: 300px;
  height: 700px;
  border-radius: 20px;
}
.aboutmeDescANDSkill {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 30px;
}
.description {
  color: #fff;
  font-size: 16px;
}
.skill-header {
  font-size: 45px;
  margin-top: 20px;
  color: #fff;
  /*  BG From Evangadi */
  background: linear-gradient(267deg, #8b3a18 1.06%, #4f1c02 60.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Yeseva One", serif;
}

/* Skill Section Style */
.skill-wrapper {
  padding: 0 60px;
}
.skill-item {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 20px;
}

.skill-name {
  width: 65px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  flex-shrink: 0;
}

.skill-box {
  flex-grow: 1;
  min-width: 0;
}

.text-end {
  text-align: right;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #eceaea;
}

.progress {
  background-color: #eee;
  border-radius: 20px;
  height: 25px;
  overflow: hidden;
}

.progress-bar {
  background: linear-gradient(to right, #ff2a2a, #a100ff);
  height: 100%;
  color: white;
  text-align: right;
  padding-right: 10px;
  line-height: 25px;
  font-weight: bold;
  transition: width 1s ease-in-out;
}
.skill-box:hover {
  padding: 2px;
  transition: 0.3s;
}
