.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.about-title h1 {
  font-size: 55px;
  margin-top: 40px;
  color: #fff;
  margin-bottom: 30px;
  /*  BG From Evangadi */
  background: linear-gradient(267deg, #8b3a18 1.06%, #4f1c02 60.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Yeseva One", serif;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 80%;
  margin: auto;
  border: 1px solid #8b3a18;
  border-radius: 20px;
padding:  20px;
}
.about-img img {
  width: 300px;
  height: 700px;
  border-radius: 20px;
}
.aboutmeDescANDSkill {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 30px;
}
.description {
  color:#fff;
  font-size: 16px;
}
.skill-wrapper ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  color:#fff;
   width: 80%;
  margin: auto;
}
.skill-wrapper ul li{
  list-style: none;
}