:root {
  background: grey;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightgray;
  box-shadow: 0.2px 10px rgba(254, 89, 89, 0.1);
  z-index: 1000;
  padding: 1rem 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: blue;
  margin-left: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.header-logo:hover {
  color: rgb(255, 204, 0);
}
/* .logo-img{
  height: 40px;
  width: auto;
} */
.header-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}
.nav-link:hover {
  color: blue;
}
.header-btns {
  display: flex;
  gap: 15px;
}
.telegram-btn {
  background-color: green;
  color: #fff;
  padding: 0 5px;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 10px;
  font-size: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.telegram-btn:hover {
  background-color: #1da851;
  transform: translateY(-2px);
}
.bookNow {
  background-color: blue;
  color: #fff;
  padding: 10px;
  width: 75px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.bookNow:hover {
  background-color: #475cb3;
  transform: translateY(-2px);
}

.menu-toggler {
  display: none;
  background-color: none;
  border: none;
  font-size: 30px;
  color: blue;
  cursor: pointer;
  padding: 10px;
}
.menu-toggler svg {
  width: 28px;
  height: 28px;
}
@media (max-width: 768px) {
  .header-container {
    padding: 0 10px;
  }
  .header-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #f7f4f4;
    box-shadow: 0 8px 15px rgba(11, 0, 0, 0.1);
    padding: 25px 0;
    margin-top: 15px;
  }
  .header-nav.open {
    display: flex;
  }
  .menu-toggler {
    display: block;
  }
  .header-btns {
    display: none;
  }
  .header-nav.open + .header-btns {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 15px 20px;
    gap: 25px;
    position: absolute;
    top: calc(100% + var(--nav-height, 0px));
    left: 0;
    background-color: lightgray;
    border-top: 1px solid rgba(45, 43, 43, 0.324);
  }
  .header-container {
    position: relative;
  }
}
@media (max-width: 480px) {
  .header-container {
    padding: 0 20px;
  }
  .header-logo {
    font-size: 4px;
  }
  .menu-toggler svg {
    width: 24px;
    height: 24px;
  }
  .telegram-btn,
  .bookNow {
    padding: 15px 20px;
    font-size: 14px;
  }
}
