

  

/* Image Style */
.header-img img {
  width: 60%;
  background-color: #ff277b;
  border-radius: 50%;
  margin-bottom: 20px;
}
.header-img img:hover {
  background-color: #ff7200;
  border-radius: 50%;
  width: 66%;
}
.UL-GAP {
  gap: 5%;
}
.UL-GAP li{
  padding:8px;
}

/*.header-wrapper nav ul li {
  list-style: none;
  font-weigSht: 200;
  font-size: 17px;
  cursor: pointer;
} */
.header-wrapper nav ul li a {
  color: #fff;
}
/* .header-wrapper nav ul li a:hover {
  color: #ff7200;
} */

.header-wrapper nav ul li a {
  text-decoration: none;
}
/* Header Button Style */
.header-btn button {
  background: linear-gradient(267deg, #08df7b.36%, #ff7200 102.06%);
  width: 150px;
  border: none;
  padding: 5px;
  border-radius: 50px;
  color: #fff;
}
.header-btn button:hover {
  background: #ff7200;
  color: #fff;
  border-radius: 5px;
}
/* when click the nav underline style */
.underline {
  border-bottom: 3px solid #6aff00;
  width:80px;
  align-items: center;
  color: #ff7200;
  border-radius: 10px;
}
