.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 540px) {
  .profile-img img {
    width: 200px;
    height: 200px;
    margin: 15px;
    border-radius: 50%;
  }
}
@media (min-width: 540px) {
  .profile-img img {
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 50%;
  }
}
.headline h1 span {
  font-size: 32px;
  font-weight: 500;
  background: linear-gradient(to right, #ff7e00, #ff007e);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Yeseva One", serif;
}
.headline h1 {
  background: linear-gradient(
    100deg,
    lab(61.98% 55.91 70.47) 0.6%,
    #aeff00 109%); 
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 26px;
  padding: 5px;
  font-family: "cursive";
  font-weight: bold;

  /* font-family: "Dancing Script", cursive;  */
}

.profile-wrapper p {
  color: #cfc8c8;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 540px) {
  .profile-wrapper p {
    font-size: 16px;
  }
  .headline h1 {
    font-size: 24px;
  }
  .headline h1 span {
    font-size: 27px;
  }
}
.headline-btns {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 50px;
}
.head-btns {
  background: linear-gradient(to right, #ff2a2a, #a100ff);
  color: white;
  padding: 8px;
  width: 150px;
  border: none;
  border-radius: 10px;
}
.head-btns:hover {
  background-image: none;
  background-color: #fff;
  color: #000;
  border: 2px solid #ff007e;
  border-radius: 30px;
  transition: 0.5s;
}
