.home-image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.home-row {
  display: flex;
  justify-content: center; /* centers items horizontally */
  flex-wrap: wrap;         /* allows wrapping on smaller screens */
  gap: 20px;               /* optional spacing between items */
  margin: 0 auto;          /* centers the row itself */
}