.myservice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 90%;
  margin: auto;
}
.myservice-wrapper .myservice-title h1 {
  background: linear-gradient(267deg, #8b3a18 1.06%, #4f1c02 60.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Yeseva One", serif;
}
.myservice-thumnail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  height: 100%;
  width: 100%;
}
